<%- include('partials/header') -%>

<body class="indexbody">

<section class="indexpage d-flex flex-column justify-content-center align-items-center">

    
    <div class="indexhome mb-1 d-flex flex-column justify-content-center align-items-center">
        <div class="font8">
            <h1>Welcome to Shutterbug!</h1>
    
        </div>
    
        <div class="font3 indexsubtitle">
            <h2 class="d-flex flex-column justify-content-center align-items-center fst-italic">Finding photographers<span class="d-block">has never been</span> <span class="d-block">so easy!</span> </h2>
    
        </div>

    </div>



    <main class="container d-flex justify-content-center align-items-center">
        <div class="m-1">
            <a href="/login" class="btn btn-lg btn-primary"> Login</a>
        </div>
        <div class=" m-1">
            <a href="/signup" class="btn btn-lg btn-primary"> Signup</a>
        </div>
            
        
    </main>

</section>

    
</body>

    

<%- include('partials/footer') -%>